# Python cache files
*.pyc

# Vim swaps
*.sw*

# Dev databases
*.sqlite3

# Keeping migrations as part of the codebase
# One debate can be found here:
# https://stackoverflow.com/questions/28035119/should-i-be-adding-the-django-migration-files-in-the-gitignore-file
#*/migrations/*

# Do not include media files
*/media/*
media/*

# Do not include the settings file. Please configure on host by host basis. settings.bak will be included for reference
*/settings.py
