{% extends 'base.html' %}
{% block body_block %}
  <div class ="container uniForm edit-bg">
    <div class="container">
      <h2 class="images-title">Gallery Modification Form</h2>
      <ul>
        <li>Slugs must be unique as they are used in the URL that will point to your new gallery.</li>
        <li>Tags and Images must be created in advance.</li>
        <li>To select multiple objects, click while pressing ctrl</li>
      </ul>
    </div>
    <br>
    <div class="container">
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Modify" class="btn btn-success">
      </form>
      <br>
      {% if not object.is_public %}
        <a href="{% url 'images:publish_gallery' object.slug %}">
          <button class="btn btn-success">Publish</button>
        </a>
      {% endif %}
      <br>
    </div>
  </div>
{% endblock %}
