{% extends "base.html" %}
{% block body_block %}
<div class="container images-gallery">
  <h3>{{ object.title }}</h3>
  <p>{{ object.caption }}</p>
  {%  for image in object.images.all %}
    <div class="conatainer">
      <a href="{% url 'images:image_detail' image.pk %}">
        <img class="images-gallery-thumbnail" src="{{ image.thumbnail_file.url }}" alt="object.title">
        <br>
      </a>
      <p class="images-gallery-caption">{{ image.title }}</p>
      <br>
    </div>
  {% endfor %}
  <br>
</div>
<br>
{% endblock %}
