{% extends 'base.html' %}
{% block body_block %}
{% load crispy_forms_tags %}
  <div class ="container uniForm create-bg">
    <div class="container">
      <h2 class="images-title">Gallery Submission Form</h2>
      <p>Galleries are ordered sets of Pieces and a Cover Image. The Cover Image and Pieces will be displayed in a slide show. If you have not yet created the Pieces you wish to include in the Gallery, use one of the buttons below to upload a new Image or to create a new Piece from an existing Image. The order of the Pieces is specified by number when creating them. Lower numbered Pieces will appear first.
      <br>
      <br>
      {% include './gallery_form_button_bar.html' %}
    </div>
    <div class="container">
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Standard field iterator -->
        {% for field in form %}
          {% if field != form.cover_image and field != form.pieces %}
            {{ field.errors }}
            <div class="row">
              <div class="col-2">
                <h5 class="form-label">{{ field.label_tag }}</h5>
              </div>
              <div class="col-sm-10">
                <p>{{ field.help_text }}</p>
                {{ field }}
              </div>
            </div>
            <br>
            <br>
          {% endif %}
        {% endfor %}
        <!-- Custom model choice form field for Cover Image -->
        <div class="row">
          <div class="col-2">
            <h5 class="form-label">{{ form.cover_image.label_tag }}</h5>
          </div>
          <div class="col-sm-10 images-form-selector">
            {{ form.cover_image.errors }}
            <p>{{ form.cover_image.help_text }}</p>
            {% if form.cover_image.field.choices.queryset.all|length == 0 %}
              <p><i>You haven't uploaded any images yet.</i></p>
            {% else %}
              {% for value in form.cover_image.field.choices %}
                {% if value|first != '' %}
                  <div class="studio-images-card float-left" style="background-image:url('/media/{{ value.2.thumbnail_file }}')">
                    <p>&nbsp;<input type="radio" value="{{ value|first }}" name="cover_image" {% if object.cover_image.pk == value|first %}checked{% endif %}></p>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-2">
            <h5 class="form-label">{{ form.pieces.label_tag }}</h5>
          </div>
          <!-- Custom multiple model choice form field for Pieces -->
          <div class="col-sm-10 images-form-selector">
            {{ form.pieces.errors }}
            <p>{{ form.pieces.help_text}}</p>
            {% if form.pieces.field.choices.queryset.all|length == 0 %}
              <p><i>You haven't published any artwork yet.</i></p>
            {% else %}
              {% for value, label, obj in form.pieces.field.choices %}
                {% if value != '' %}
                  <div class="studio-images-card float-left" style="background-image:url('/media/{{ obj.image.thumbnail_file }}')">
                    <p>&nbsp;<input type="checkbox" value="{{ value }}" name="pieces" {% if obj in object.pieces.all %}checked{% endif %}></p>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <br>
        <br>
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
      <br>
    </div>
  </div>
{% endblock %}
