<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner images-gallery-carousel">
    <div class="carousel-item active">
      <a href="{% url 'images:image_detail' object.cover_image.pk %}">
        <img class="images-gallery-image" src="{{ object.cover_image.image_file.url }}" alt="object.cover_image.title">
      </a>
    </div>
    {% for p in object.pieces.all %}
        <div class="carousel-item">
          <a href="{% url 'images:image_detail' p.image.pk %}">
            <img class="images-gallery-image" src="{{ p.image.image_file.url }}" alt="p.image.title">
          </a>
        </div>
    {% endfor %}
  </div>
  <br>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
