{% extends "base.html" %}
{% block body_block %}
<div class="container images-gallery-bg">
  {% ifequal request.user object.user %}
    {% include "./gallery_detail_button_bar.html" %}    
  {% endifequal %}
  <h1 class="images-gallery-title">{{ object.title }}</h1>
  <p class="images-gallery-caption">{{ object.caption }}</p>
  {% include "./gallery.html" %}
  {% if can_allocate %}
    <a href="{% url 'images:promote_gallery' object.pk  %}">
      <button type="button" class="btn btn-default float-right">&#9829;</button>
    </a>
    <div class="clear"></div>
  {% endif %}
  <br>
</div>
{% endblock %}
