{% extends "base.html" %}
{% block body_block %}
<div class="container images-gallery-bg">
  {% ifequal request.user object.user %}
    <div class="row">
      <div class="col">
        <a href="{% url 'images:gallery_delete' object.pk %}">
          <button type="button" class="btn btn-danger float-right">Delete</button>
        </a>
        <a href="{% url 'images:gallery_update' object.slug %}">
          <button type="button" class="btn btn-warning float-right">Edit</button>
        </a>
      </div>
    </div>
  {% endifequal %}
  <h1 class="images-gallery-title">{{ object.title }}</h1>
  <p class="images-gallery-caption">{{ object.caption }}</p>
  <div class="conatainer">
    <!-- Bootstrap gallery carousel example -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="{% url 'images:image_detail' object.images.first.pk %}">
            <img class="images-gallery-image" src="{{ object.images.first.image_file.url }}" alt="object.images.first.title">
          </a>
        </div>
        {% for image in object.images.all %}
          {% ifnotequal image.pk object.images.first.pk %}
            <div class="carousel-item">
              <a href="{% url 'images:image_detail' image.pk %}">
                <img class="images-gallery-image" src="{{ image.image_file.url }}" alt="images.title">
              </a>
            </div>
          {% endifnotequal %}
        {% endfor %}
      </div>
      <br>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon images-gallery-button" aria-hidden="true"><</span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon images-gallery-button" aria-hidden="true">></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  {% if can_allocate %}
    <a href="{% url 'images:promote_gallery' object.pk  %}">
      <button type="button" class="btn btn-default float-right">&#9829;</button>
    </a>
  {% endif %}
</div>
<br>
{% endblock %}
