{% extends 'base.html' %}
{% block body_block %}
<div class="container images-gallery-bg">
  <div class="row">
    <div class="col">
      <h1 class="images-gallery-title">Curated Imagery</h3>
    </div>
    {% if request.user.is_authenticated %}
      <div class="col-">
        <div class="container">
          <a href="{% url 'images:gallery_create' %}">
            <button type="button" class="btn btn-primary">Curate Gallery</button>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
  <br>
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if request.user.is_authenticated %}
        <a href="{% url 'images:gallery_create' %}">
        </a>
      {% endif %}
    </div>
  </div>
  <br>
  <div class="container">
    {% for gallery in object_list %}
      <div class="row">
        <div class="col-">
          <a href="{% url 'images:gallery_detail' gallery.slug %}">
            <img src="{{ gallery.images.first.thumbnail_file.url }}" class="" alt="{{ gallery.images.first.title }}">
          </a>
        </div>
        <div class="col">
          <div class="container">
            <h3 class="images-gallery-title">{{ gallery.title }}</h5>
            <p class="images-gallery-caption">{{ gallery.caption }}</p>
          </div>
        </div>
        {% ifequal request.user gallery.user %}
          <div class="col-">
            <a href="{% url 'images:gallery_update' gallery.slug %}">
              <button type="button" class="btn btn-warning">Edit</button>
            </a>
          </div>
        {% endifequal %}
      </div>
    {% endfor %}
    {% if page_obj %}
      <div class="images-pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1"><<</a>
            <a href="?page={{page_obj.previous_page_number}}"><</a>
          {% endif %}
          <span class="images-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">></a>
            <a href="?page={{page_obj.paginator.num_pages}}">>></a>
          {% endif %}
        </span>
        <br>
      </div>
    {% else %}
      <p>There are no galleries yet.</p>
    {% endif %}
  </div>
</div>
{% endblock %} 
