{% extends 'base.html' %}
{% block body_block %}
{% load crispy_forms_tags %}
<div class ="container uniForm create-bg">
    <div class="container">
      <h2 class="images-title">New Image Submission Form</h2>
      <ul>
        <li>Give credit where credit is due.</li>
        <li>Obtain permission before uploading depicitons of private persons.</li>
      </ul>
    </div>
    <br>
    <div class="container">
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'form_fields.html' %}
        <input type="submit" value="Upload" class="btn btn-success">
      </form>
    </div>
    <br>
</div>
{% endblock %}
