{% extends 'base.html' %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Images</h1>
  </div>
  <div class="container images-bg">
    <p>Click <a href="{% url 'images:image_create' %}">here</a> to post an image to the database.</p>
    {% if object_list %}
      <ul class="list-group">
        {% for image in object_list %}
          <li class="list-group-item"><a href="{% url 'images:image_detail' image.pk %}">{{ image.caption }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
    <p>There are no meta reports yet.</p>
    {% endif %}
  </div>
{% endblock %} 
