<div class="row">
  <div class="col">
    <h3 class="images-title">
      {% if user_only %}
        {% if user.first_name and user.last_name %}
          {{ user.first_name }} {{ user.last_name }}{% else %}{{ user }}{% endif %}'s Artwork
      {% else %}
        Artwork
      {% endif %}
    </h3>
  </div>
  {% if user.is_authenticated %}
    <div class="col-">
      <div class="container">
        <a href="{% url 'images:piece_create' %}">
          <button type="button" class="btn btn-primary float-left">New Piece</button>
        </a>
      </div>
    </div>
  {% endif %}
</div>
