{% extends 'base.html' %}
{% block body_block %}
<div class="container images-gallery-bg">
  {% include "./piece_list_button_bar.html" %}
  {% if object_list %}
    {% include "page_control.html" %}
    <div class="images-card-container">
      {% for piece in object_list %}
        {% include "./piece_list_card.html" %}
      {% endfor %}
    </div>
    {% include "page_control.html" %}
  {% else %}
    <p>The art is not ready for exhibition yet. Please check back soon.</p>
  {% endif %}
</div>
{% endblock %} 
