.index-bg {
  background-color: #222222;
  font-family: 'Tajawal', sans-serif;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.index-artist-thumbnail {
  display: block;
  max-width: auto;
  max-height: 250px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.index-gallery-bg {
  color: #ffffff;
  background-color: #222222;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.index-gallery-caption {
  font-family: 'Tajawal', sans-serif;
}

.index-gallery-li {
  color: #ffffff;
  background-color: #222222;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 1.25em;
}

.index-gallery-thumbnail {
  display: block;
  max-width: auto;
  max-height: 250px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.index-gallery-title {
  font-family: 'Ibarra Real Nova', serif;
}

.index-headline-text {
  background-color: #222222;
  color: #ffffff;
  font-size: 50px;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 10px 10px;
}

.index-image {
  display: block;
  max-width: auto;
  max-height: 250px;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.index-image-bg {
  color: #ffffff;
  background-color: #222222;
  padding: 10px;
  border-radius: 10px;
}

.index-image-bg {
}

.index-image-title {
  font-family: 'Ibarra Real Nova', serif;
}

.index-link-bg {
  color: white;
  background-color: #222222;
  padding: 10px;
  border-radius: 10px;
}

.index-link-caption {
  font-family: 'Tajawal', sans-serif;
}

.index-link-li {
  color: #ffffff;
  background-color: #222222;
}

.index-link-thumbnail {
  display: block;
  max-width: auto;
  max-height: 55px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.index-link-url {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
}

.index-link-title {
  font-family: 'Ibarra Real Nova', serif;
}

.index-update-caption {
  font-family: 'Tajawal', sans-serif;
}
.index-update-li {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8em;
  background-color: #222222;
  color: #ffffff;
}

