.updates-author {
  font-family: 'IBM Plex Mono', monospace;
}

.updates-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}

.updates-content {
}

.updates-date {
  font-family: 'IBM Plex Mono', monospace;
}

.updates-featured-image {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.updates-featured-image-caption {
  font-family: 'Tajawal', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.updates-gallery-caption {
  font-family: 'Tajawal', sans-serif;
  padding-bottom: 20px;
}

.updates-gallery-carousel {
  width: 100%;
  height: 600px;
}

.updates-gallery-title {
  font-family: 'Ibarra Real Nova', serif;
}

.updates-headline-list {
  background-color: #111111;
  color: white;
  background-repeat: no-repeat;
  max-height: auto;
  padding: 10px;
  border-bottom: solid #111111;
  text-align: center;
}

.updates-headline-text {
  background-color: #111111;
  color: white;
  font-family: 'Zilla Slab Highlight', cursive;
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.updates-link {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
}

.updates-link-image {
  max-height:50px;
  max-width: 50px;
  margin-right: 10px;
}

.updates-link-title {
  font-family: 'Ibarra Real Nova', serif;
}

.updates-list-caption {
}

.updates-list-item {
  background-color: #222222;
  border-bottom: solid 2px #111111;
}

.updates-list-thumbnail {
  max-height: 100px;
  max-width: 100px;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.updates-list-title {
  font-family: 'Ibarra Real Nova', serif;
}

.updates-list-link {
  font-family: 'Ibarra Real Nova', serif;
  color: #eeeeee;
  font-size: 1.25em;
}

.updates-location-date {
  font-family: 'IBM Plex Mono', monospace;
}

.updates-title {
  font-family: 'Ibarra Real Nova', serif;
}
