{% if object.gallery %}
  <a href="{% url 'images:gallery_detail' object.gallery.slug %}">
    <h3 class="updates-gallery-title">{{ object.gallery.title }}</h3>
  </a>
  <br>
  <a href="{% url 'images:gallery_detail' object.gallery.slug %}">
    <img class="updates-gallery-image" src="{{ object.gallery.cover_image.image_file.url }}" alt="{{ object.gallery.cover_image.title }}">
  </a>
  <br>
  <p class="updates-gallery-captioni float-left">{{ object.gallery.caption }}</p>
  <div class="clear"></div>
  <br>
{% endif %}
