<!-- START intro -->
<div class="row">
  <div class="col">
    {% if object.title %}
      <h1 class="updates-title">{{ object.title }}</h1>
    {% endif %}
    {% if object.introduction %}
      <p class="updates-content">{{ object.introduction|linebreaksbr }}</p>
    {% endif %}
  </div>
</div>
<!-- STOP intro -->
<!-- START main content -->
{% if object.content %}
  <p class="updates-content">{{ object.content|linebreaksbr }}</p>
{% endif %}
{% if object.featured_img %}
  {% include './update_featured_img.html' %}
{% endif %}
<!-- STOP main content -->
<!-- START conclusion -->
{% if object.conclusion %}
    <p class="updates-content">{{ object.conclusion|linebreaksbr }}</p>
{% endif %}
<!-- STOP conclusion -->
