{% extends 'base.html' %}
{% block body_block %}
<div class ="container edit-bg">
  <div class="container">
    <h2 class="updates-title">Update Modification Form</h2>
    <br>
    <form  method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'form_fields.html' %}
      <input type="submit" value="Modify" class="btn btn-success">
    </form>
    <br>
    <a href="{% url 'updates:publish_update' object.pk %}">
      <button class="btn btn-success">Publish</button>
    </a>
    <br>
  </div>
</div>
{% endblock %}
