<div class="row">
  <div class="col">
    <h3 class="updates-list-title">
      {% if user_only %}
        {% if user.first_name and user.last_name %}
          {{ user.first_name }} {{ user.last_name }}{% else %}{{ user }}{% endif %}'s Updates
      {% else %}
        Updates
      {% endif %}
    </h3>
  </div>
  {% if request.user.is_authenticated %}
    <div class="col-">
      <div class="container">
        <a href="{% url 'updates:update_create' %}">
          <button type="button" class="btn btn-primary float-left">New Update</button>
        </a>
      </div>
    </div>
  {% endif %}
</div>
