{% extends 'base.html' %}
{% block body_block %}
<div class ="container create-bg">
  <div class="container">
    <h2 class="updates-title">Update Submission Form</h2>
    <p>
      Updates may include Galleries, Images, Links and Tags. If the objects which you would like to include already exist, select them from the menu below. Otherwise, you can create them on the fly by pressing one of the buttons below.
    </p>
    <div class="row">
      <div class="col">
        {% include './update_form_button_bar.html' %}
      </div>
    </div>
    <form  method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- Standard field iterator -->
      {% for field in form %}
        {% if field != form.headline_img and field != form.featured_img  and field != form.gallery and field != form.artwork and field != form.artists and field != form.links %}
          {{ field.errors }}
          <div class="row">
            <div class="col-sm-2">
              <h5 class="form-label">{{ field.label_tag }}</h5>
            </div>
            <div class="col-sm-10">
              <p>{{ field.help_text }}</p>
              {{ field }}
            </div>
          </div>
          <br>
          <br>
        {% endif %}
      {% endfor %}
      <!-- Custom model choice form field for Headline Image -->
      <div class="row">
        <div class="col-sm-2">
          <h5 class="form-label">{{ form.headline_img.label_tag }}</h5>
        </div>
        <div class="col-sm-10 images-form-selector">
          {{ form.headline_img.errors }}
          <p>{{ form.headline_img.help_text}}</p>
          {% if form.headline_img.field.choices.queryset.all|length == 0 %}
            <p><i>You haven't uploaded any images yet.</i></p>
          {% else %}
            {% for value in form.headline_img.field.choices %}
              {% if value|first != '' %}
                <div class="studio-images-card float-left" style="background-image:url('/media/{{ value.2.thumbnail_file }}')">
                  <p>&nbsp;<input type="radio" value="{{ value|first }}" name="headline_img" {% if object.headline_img.pk == value|first %}checked{% endif %}></p>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <br>
      <br>
      <!-- Custom model choice form field for Featured Image -->
      <div class="row">
        <div class="col-sm-2">
          <h5 class="form-label">{{ form.featured_img.label_tag }}</h5>
        </div>
        <div class="col-sm-10 images-form-selector">
          {{ form.featured_img.errors }}
          <p>{{ form.featured_img.help_text }}</p>
          {% if form.headline_img.field.choices.queryset.all|length == 0 %}
            <p><i>You haven't uploaded any images yet.</i></p>
          {% else %}
            {% for value in form.featured_img.field.choices %}
              {% if value|first != '' %}
                <div class="studio-images-card float-left" style="background-image:url('/media/{{ value.2.thumbnail_file }}')">
                  <p>&nbsp;<input type="radio" value="{{ value|first }}" name="featured_img" {% if object.featured_img.pk == value|first %}checked{% endif %}></p>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <br>
      <br>
      <!-- Custom model choice form field for Gallery -->
      <div class="row">
        <div class="col-2">
          <h5 class="form-label">{{ form.gallery.label_tag }}</h5>
        </div>
        <div class="col-sm-10 images-form-selector">
          {{ form.gallery.errors }}
          <p>{{ form.gallery.help_text}}</p>
          {% if form.gallery.field.choices.queryset.all|length == 0 %}
            <p><i>You haven't published any galleries yet.</i></p>
          {% else %}
            {% for value in form.gallery.field.choices %}
              {% if value|first != '' %}
                <div class="studio-images-card float-left" style="background-image:url('/media/{{ value.2.cover_image.thumbnail_file }}')">
                  <p>&nbsp;<input type="radio" value="{{ value|first }}" name="gallery" {% if object.gallery.pk == value|first %}checked{% endif %}></p>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <br>
      <br>
      <!-- Custom multiple model choice form field for Artwork -->
      <div class="row">
        <div class="col-2">
          <h5 class="form-label">{{ form.artwork.label_tag }}</h5>
        </div>
        <div class="col-sm-10 images-form-selector">
          {{ form.artwork.errors }}
          <p>{{ form.artwork.help_text}}</p>
          {% if form.artwork.field.choices.queryset.all|length == 0 %}
            <p><i>You haven't published any artwork yet.</i></p>
          {% else %}
            {% for value, label, obj in form.artwork.field.choices %}
              {% if value != '' %}
                <div class="studio-images-card float-left" style="background-image:url('/media/{{ obj.image.thumbnail_file }}')">
                  <p>&nbsp;<input type="checkbox" value="{{ value }}" name="artwork" {% if obj in object.artwork.all %}checked{% endif %}></p>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <br>
      <br>
      <!-- Custom multiple model choice form field for Artists -->
      <div class="row">
        <div class="col-2">
          <h5 class="form-label">{{ form.artists.label_tag }}</h5>
        </div>
        <div class="col-sm-10 images-form-selector">
          {{ form.artists.errors }}
          <p>{{ form.artists.help_text}}</p>
          {% if form.artists.field.choices.queryset.all|length == 0 %}
            <p><i>You haven't published any artist profiles yet.</i></p>
          {% else %}
            {% for value, label, obj in form.artists.field.choices %}
              {% if value != '' %}
                <div class="studio-images-card float-left" style="background-image:url('/media/{{ obj.image.thumbnail_file }}')">
                  <p>&nbsp;<input type="checkbox" value="{{ value }}" name="artists" {% if obj in object.artists.all %}checked{% endif %}></p>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <br>
      <br>
      <!-- Standard model multiple choice field for Links -->
      <div class="row">
        <div class="col-sm-2">
          <h5 class="form-label">{{ form.links.label_tag }}</h5>
        </div>
        <div class="col-sm-10">
          {{ form.links.errors }}
          <p>{{ form.links.help_text }}</p>
          {% if form.links.field.choices.queryset.all|length == 0 %}
            <p>
              <i>You haven't added any links yet.</i>
            </p>
          {% else %}
            {{ form.links }}
          {% endif %}
        </div>
      </div>
      <br>
      <br>
      <input type="submit" value="Submit" class="btn btn-success">
    </form>
  </div>
  <br>
</div>
{% endblock %}
