{% extends 'base.html' %}
{% block body_block %}
<div class="container updates-bg">
  <!-- START button bar -->
  {% include "./update_button_bar.html" %}
  <!-- STOP buton bar -->
  <!-- START headline -->
  {% include "./update_headline.html" %}
  <!-- STOP headline -->
  <!-- START content -->
  {% include "./update_content.html" %}
  <!-- STOP content -->
  <!-- START gallery -->
  {% include "./update_gallery.html" %}
  <!-- STOP gallery -->
  <!-- START links -->
  {% include "./update_links.html" %}
  <!-- STOP links -->
  <!-- START credits -->
  {% include "./update_credits.html" %}
  <!-- STOP credits -->
</div>
{% endblock %}
