<li class="list-group-item updates-list-item">
  <!-- ROW 1 -->
  <div class="row">
    <div class="col-sm-10">
      <a href="{% url 'updates:update_detail' update.slug  %}" class="links-list-link">
        <h4 class="updates-title">{{ update.title }}</h4>
      </a>
      <p class="updates-list-caption">{{ update.headline }}</p>
    </div>
    <div class="col-sm-2">
      <img src="{{ update.featured_img.thumbnail_file.url }}" class="updates-list-thumbnail">
    </div>
  </div>
  <!-- ROW 2 -->
  <div class="row">
  </div>
  <!-- ROW 3 -->
  <div class="row">
    <div class="col">
      <p class="updates-link">
        <i>contributed by
          {% if update.user.first_name and update.user.last_name %}
            {{ update.user.first_name }} {{ update.user.last_name }}
          {% else %}
            {{ update.user }}
          {% endif %}
          {% if update.publication_date %}
            on {{ update.publication_date|date:"M d, Y" }}
          {% endif %}
          {% if update.location %}
            from {{ update.location }}
          {% endif %}
        </i>
      </p>
    </div>
  </div>
</li>

