<div class="row">
  <div class="col">
    <div class="container">
      <p class="updates-author">
        <i>contributed by
          {% if object.user.first_name and object.user.last_name %}
            {{ object.user.first_name }} {{ object.user.last_name }}
          {% else %}
            {{ object.user }}
          {% endif %}
          {% if object.publication_date %}
          on {{ object.publication_date|date:"M d, Y" }}
          {% endif %}
          {% if object.location %}
            from {{ object.location }}
          {% endif %}
        </i>
      </p>
    </div>
  </div>
  <!-- START marshmallow -->
  <div class="col-">
    <div class="row">
      <div class="col">
        {% if can_allocate %}
          <a href="{% url 'updates:promote' object.pk  %}">
            <button type="button" class="btn btn-default float-right">&#9829;</button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- STOP marshmallow -->
</div>
