{% extends 'base.html' %}
{% block body_block %}
<div class ="container create-bg">
  <div class="container">
    <h2 class="updates-title">Update Submission Form</h2>
    <p>
      Updates may include Galleries, Images, Links and Tags. If the objects which you would like to include already exist, select them from the menu below. Otherwise, you can create them on the fly by pressing one of the buttons below.
    </p>
    <div class="row">
      <div class="col">
        {% include './update_create_button_bar.html' %}
      </div>
    </div>
    <form  method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'form_fields.html' %}
      <input type="submit" value="Submit" class="btn btn-success">
    </form>
  </div>
  <br>
</div>
{% endblock %}
