.clear {
  clear: both;
}

.base-bg {
  background-color: #111111;
  /*background-image: url("/static/hexagon-pattern-2657990_960_720.jpg");*/
  background-size: 200px;
  padding-top: 70px;
}

.base-body {
  padding-top: 60px;
}

.base-footer {
  background-color: #ffffff;
  color: #222222;
  font-size: 0.75em;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
} 

.create-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
  margin-bottom: 40px;
}

.edit-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
  margin-bottom: 40px;
}

.images-bg {
  background-color: #ffffff;
  color: #222222;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}

.images-caption {
  font-family: 'Tajawal', sans-serif;
  text-align: left;
}

.images-card {
  display: block;
  width: 250px;
  height: 250px;
  background-color: #222222;
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
}

.images-card-container {
  display: block;
  padding: 0 10px;
}

.images-card-title {
  color: #ffffff;
  font-family: 'Ibarra Real Nova', serif;
  text-align: center;
}

.images-credit {
  text-align: right;
}

.images-gallery-bg {
  background-color: #222222;
  color: #ffffff;
  min-height: 875px;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}

.images-gallery-caption {
  font-family: 'Tajawal', sans-serif;
  background: #222222;
  color: #eeeeee;
  padding: 10px;
}

.images-gallery-carousel {
  width: 100%;
  height: 700px;
}


.images-gallery-image {
  max-width: 100%;
  max-height: 650px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.images-gallery-li {
  background-color: #222222;
  color: #ffffff;
  padding: 20px;
  border-bottom: solid 2px #111111;
}

.images-gallery-title {
  font-family: 'Ibarra Real Nova', serif;
}

.images-image {
  max-width: 100%;
  max-height: auto;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.images-row-title {
}

.images-thumbnail {
  display: block;
  max-width: 200px;
  max-height: auto;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
}
  
.images-title {
  font-family: 'Ibarra Real Nova', serif;
}

.index-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.index-gallery {
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.index-headline-text {
  background-color: #ffffff;
  color: black;
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: bold;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 10px 10px;
} 

.index-link-bg {
  color: white;
  background-color: #333333;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.index-link-li {
  color: #ffffff;
  background-color: #333333;
}

.kbtech-title {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
 
.kbtech-image {
  max-width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
} 

.kbtech-services {

} 

.kbtech-services-overview {

} 

.links-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}

.links-list-description {
  font-family: 'Tajawal', sans-serif;
}

.links-list-li {
  background-color: #222222;
  color: #ffffff;
  padding: 20px;
  border-bottom: solid 2px #111111;
}

.links-list-link {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
}

.links-list-title {
  font-family: 'Ibarra Real Nova', serif;
}

.links-thumbnail {
  max-width: 100px;
  max-height: auto;
  margin-bottom: 10px;
  padding-left: 20px;
}

.links-title {
  font-family: 'Ibarra Real Nova', serif;
}

.updates-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}

.updates-date {
  font-family: 'IBM Plex Mono', monospace;
}

.updates-gallery-caption {
  font-family: 'Tajawal', sans-serif;
  padding-bottom: 20px;
}

.updates-gallery-carousel {
  width: 100%;
  height: 600px;
}

.updates-gallery-title {
  font-family: 'Ibarra Real Nova', serif;
}

.updates-headline-list {
  background-color: #111111;
  color: white;
  background-repeat: no-repeat;
  max-height: auto;
  padding: 10px;
  border-bottom: solid #111111;
  text-align: center;
}
 
.updates-headline-text {
  background-color: #111111;
  color: white;
  font-family: 'Zilla Slab Highlight', cursive;
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
} 

.updates-link {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
}

.updates-link-image {
  max-height:100px;
  max-width: 100px;
  margin-right: 10px;
}

.updates-link-title {
  font-family: 'Ibarra Real Nova', serif;
}

.updates-list-caption {
}

.updates-list-item {
  background-color: #222222;
  border-bottom: solid 2px #111111;
}

.updates-list-thumbnail {
  max-height:100px;
  max-width: 150px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.updates-list-title {
  font-family: 'Ibarra Real Nova', serif;
}

.updates-list-link {
  font-family: 'Ibarra Real Nova', serif;
  color: #eeeeee;
  font-size: 1.25em;
}

.updates-title {
  font-family: 'Ibarra Real Nova', serif;
}

.updates-author {
  font-family: 'IBM Plex Mono', monospace;
}

.updates-featured-image {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.updates-featured-image-caption {
  max-width: 400px;
  font-family: 'Tajawal', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
 

.updates-location-date {
  font-family: 'IBM Plex Mono', monospace;
}


.updates-content {
}
