.base-bg {
  background-color: #111111;
  /*background-image: url("/static/hexagon-pattern-2657990_960_720.jpg");*/
  background-size: 200px;
  padding-top: 70px;
}

.base-body {
  padding-top: 60px;
}

.base-footer {
  background-color: #ffffff;
  color: #222222;
  font-size: 0.75em;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
} 

.images-bg {
  background-color: #222222;
  color: #f0f5f2;
  border-radius: 0px 0px 25px 25px;
}

.images-caption {
  text-align: center;
}

.images-card {
  width: 220px;
  height: 220px;
  padding: 10px;
  background-color: #222222;
  display: block;
  margin: auto;
}

.images-card-group {
  margin: auto;
}

.images-gallery {
  background-color: #ffffff;
  color: #222222;
  border-radius: 0px 0px 25px 25px;
}

.images-gallery-image {
  max-width: 100%;
  max-height: auto;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.images-image {
  max-width: 100%;
  max-height: auto;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.images-thumbnail {
  max-width: 100%;
  max-height: auto;
  border: 2px solid #000000;
  border-radius: 3px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
  
.index-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.index-gallery {
  color: #ffffff;
  background-color: #444444;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.index-headline-text {
  background-color: #ffffff;
  color: black;
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: bold;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 10px 10px;
} 

.index-link-bg {
  color: white;
  background-color: #444444;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.index-link-li {
  color: #ffffff;
  background-color: #222222;
}

.kbtech-title {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
 
.kbtech-image {
  max-width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
} 

.kbtech-services {

} 

.kbtech-services-overview {

} 

.links-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
}

.links-list-description {
  font-family: 'Tajawal', sans-serif;
  margin-left: 20px;
}

.links-list-link {
  font-family: 'IBM Plex Mono', monospace;
  margin-left: 20px;
}

.links-list-title {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 1.25em;
  padding: 20px;
}

.links-thumbnail {
  max-width: 100px;
  max-height: 50px;
  margin: 20px;
}

.updates-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
}

.updates-gallery-caption {
  font-family: 'Tajawal', sans-serif;
  margin-left: 20px;
}

.updates-gallery-title {
  font-family: 'Ibarra Real Nova', serif;
  margin-left: 20px;
}

.updates-headline-list {
  background-color: #111111;
  color: white;
  font-family: 'Zilla Slab Highlight', cursive;
  text-align: center;
  background-repeat: no-repeat;
  max-height: auto;
  padding: 10px;
}
 
.updates-headline-text {
  background-color: #111111;
  color: white;
  font-family: 'Zilla Slab Highlight', cursive;
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
} 

.updates-link {
  font-family: 'IBM Plex Mono', monospace;
}

.updates-link-image {
  max-height: 50px;
  max-width: 100px;
  margin: 20px;
}

.updates-link-title {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 1.5em;
  padding: 20px;
}

.updates-list-item{
  background-color: #222222;
}

.updates-list-link {
  font-family: 'Zilla Slab Highlight', cursive;
  color: #eeeeee;
  font-size: 1.25em;
}

.updates-title {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 2.5em;
}

.updates-author {
  font-family: 'IBM Plex Mono', monospace;
}

.updates-featured-image {
  max-width: 500px;
  max-height: 500px;
  margin: 20px;
  border-radius: 5px;
}

.updates-featured-image-caption {
  font-family: 'Tajawal', sans-serif;
  max-width: 250px;
  padding-left: 20px;
}
 
.updates-featured-image-container {
  padding 20px;
  margin 20px;
}

.updates-location-date {
  font-family: 'IBM Plex Mono', monospace;
}


.updates-content {
  padding: 20px;
}
