<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="nav-item navbar-brand" href="/">kbruder.info</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- NAVBAR -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <span class="navbar-brand qnd-logo">QnD:backlog</span>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'backlog:objective_create' %}">
            <button class="btn btn-sm btn-primary">New Objective</button>
          </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'updates:update_list' %}">Updates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'images:gallery_list' %}">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'images:piece_list' %}">Artwork</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'people:artist_list' %}">Artists</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
<br>
