<div class="dropdown">
  <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if user.first_name and user.last_name %}
      {{ user.first_name }} {{ user.last_name }}
    {% else %}
      {{ user }}
    {% endif %}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'studio' %}">Studio</a>
    {% if user.is_staff %}
       <a target="_blank" rel="noopener noreferrer" class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
  </div>
</div>
