<div class="kbtech-title">
  <div class="row">
    <div class="col">
      <h1>kbruder Tech</h1>
      <h2 class="kbtech-subtitle">Information Technology Consulting</h2>
      <p class="kbtech-services-overview">Cloud | IP networking | Infrastructure | Deployment | Cryptocurrency | Info Sec</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="kbtech-services">Providing consultation and support to individuals and businesses requiring modern, secure, and cost-reducing IT solutions. Offering solution architecture, Information Security services and general information about emerging trends in Information Technology.</p>
      <p class="kbtech-services">The biggest hurdle in IT services is trust. Begin a trust relationship with kbruder Tech. Send me a concise email message to <a href="mailto:help@kbruder.info">help@kbruder.info</a> today!</p>
    </div>
  </div>
</div>
