<h3 class="index-image-title">Galleries</h3>
<a href="{% url 'images:gallery_detail' gallery.slug %}">
  <h5 class="index-gallery-caption">{{ gallery.title }}</h5>
</a>
<img src="{{ gallery.cover_image.thumbnail_file.url }}" class="index-gallery-thumbnail float-left" alt="{{ gallery.images.first.title }}">
<p class="index-gallery-caption">{{ gallery.caption }}</p>
<br>
{% if galleries %}
{% for g in galleries %}
  <a href="{% url 'images:gallery_detail' g.slug %}">
    <div class="studio-images-card float-left" style="background-image:url('/media/{{ g.cover_image.thumbnail_file }}')">
    </div>
  </a>
{% endfor %}
<div class="clear"></div>
<p>
  <a href="{% url 'images:gallery_list' %}">more ...</a>
</p>
{% endif %}
