<div class="container index-image-bg">
  <div class="row">
    <div class="col">
      <h3 class="index-image-title">
      <a href="{% url 'images:image_detail' pk=image.pk %}">
        {{ image.title }}
      </a>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-">
        <img src="{{ image.thumbnail_file.url }}" class="index-image" alt="{{ image.title }}">
    </div>
    <div class="col">
      <p class="index-image-caption">
        {{ image.caption }}
      </p>
    </div>
  </div>
</div>
