{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container index-bg">
  <!-- ROW 1 -->
  <div class="row">
    <div class="col">
      <!-- START latest update -->
      {% if latest_update %}
        {% include "index_update.html" %}
      {% endif %}
      <!-- STOP latest update -->
    </div>
  </div>
  <!-- ROW 2 -->
  <div class="row">
    <div class="col-sm-6">
      <!-- START gallery -->
      {% if gallery %}
        {% include "index_gallery.html" %}
      {% endif %}
      <!-- STOP gallery -->
    </div>
    <div class="col-sm-6">
      <!-- START links -->
      {% if image %}
        {% include "index_image.html" %}
      {% endif %}
      <!-- STOP links -->
    </div>
  </div>
  <!-- ROW 3 -->
  <div class="row">
    <div class="col">
        {% include "index_links.html" %}
    </div>
  </div>
  <!-- ROW 4 -->
  <div class="row">
    <div class="col">
        {% include "index_kbtech.html" %}
    </div>
  </div>
</div>
{% endblock %}
