<div class="index-gallery-bg">
  <h3 class="index-image-title">Curated Galleries</h3>
  <a href="{% url 'images:gallery_detail' gallery.slug %}">
    <h5 class="index-gallery-title">{{ gallery.title }}</h5>
  </a>
  <img src="{{ gallery.cover_image.thumbnail_file.url }}" class="index-gallery-thumbnail float-left" alt="{{ gallery.images.first.title }}">
  <p class="">{{ gallery.caption }}</p>
  <ul class="list-group list-group-flush ml-3 mr-3 mt-1 clear">
    {% for g in galleries %}
      <li class="list-group-item p-0 border-0 index-gallery-li">
        <a href="{% url 'images:gallery_detail' g.slug %}">
          {{ g.title }}
        </a>
      </li>
    {% endfor %}
   </ul>
  <p>
    <a href="{% url 'images:gallery_list' %}">
      more galleries
    </a>
  </p>
</div>
