<h4 class="studio-gallery-title">Your Galleries</h4>
  <a href="{% url 'images:gallery_create' %}?next={{ request.path }}">
    <button class="btn-sm btn-primary">New</button>
  </a>
{% if galleries %}
  {% for g in galleries %}
    <ul class="list-group">
      <li class="list-group-item studio-gallery-li">
        {% if g.cover_image %}
          <img class="studio-gallery-thumbnail float-right" src="{{ g.cover_image.thumbnail_file.url }}" alt="{{ g.cover_image.caption }}">
        {% endif %}
        <h5 class="">
          <a href="{% url 'images:gallery_detail' g.slug %}">
            {{ g.title }}
          </a>
        </h5>
        <p class="studio-gallery-status">
          Created: {{ g.creation_date|date:"M d, Y" }}
        </p>
        {% if not g.is_public %}
          <span class="badge badge-secondary">Unpublished</span>
        {% endif %}
        <a href="{% url 'images:gallery_update' g.slug %}?next={{ request.path }}">
          <button class="btn-sm btn-warning"><span class="studio-button-text">&#x1F589;</span></button>
        </a>
        {% if not g.is_public %}
          <a href="{% url 'images:gallery_delete' g.pk %}?next={{ request.path }}">
            <button class="btn-sm btn-danger"><span class="studio-button-text"> &#x2715; </span></button>
          </a>
        {% endif %}
        <div class="clear"></div>
    </li>
  {% endfor %}
  <p>
    <a href="{% url 'images:gallery_user_list' request.user %}">more ...</a>
  </p>
{% else %}
  <p>You have not contributed any galleries yet</p>
  <a href="{% url 'images:gallery_create' %}">
    <button class="btn btn-success">New Gallery</button>
  </a>
{% endif %}
