<h3 class="studio-gallery-title">Your Galleries</h3>
{% for g in galleries %}
  <ul class="list-group">
    <li class="list-group-item studio-gallery-li">
      <h5 class="studio-gallery-title">
        <a href="{% url 'images:gallery_detail' g.slug %}">
          {{ g.title }}
          {% if not g.is_public %}
            <span class="badge badge-secondary">Unpublished</span>
          {% endif %}
        </a>
      </h5>
      {% if g.cover_image %}
        <img class="studio-gallery-thumbnail float-right" src="{{ g.cover_image.thumbnail_file.url }}" alt="{{ g.cover_image.caption }}">
      {% endif %}
      <p class="studio-gallery-status">
        Created: {{ g.creation_date|date:"M d, Y" }}
      </p>
      <a href="{% url 'images:gallery_update' g.slug %}">
        <button type="button" class="btn btn-warning">Edit</button>
      </a>
      <div class="clear"></div>
  </li>
{% endfor %}
<p>
  <a href="{% url 'images:gallery_list' %}">all galleries</a>
</p>
