<h4 class="studio-gallery-title">Your Artists</h4>
<a href="{% url 'people:artist_create' %}?next={{ request.path }}">
  <button class="btn-sm btn-primary">New</button>
</a>
{% if artists %}
  {% for a in artists %}
    <ul class="list-group">
      <li class="list-group-item studio-gallery-li">
        {% if a.image %}
          <img class="studio-gallery-thumbnail float-right" src="{{ a.image.thumbnail_file.url }}" alt="{{ a.image.caption }}">
        {% endif %}
        <h5 class="">
          <a href="{% url 'people:artist_detail' a.slug %}">
            {{ a.name }}
          </a>
        </h5>
        <p class="studio-gallery-status">
          Created: {{ a.creation_date|date:"M d, Y" }}
        </p>
        {% if not a.is_public %}
          <span class="badge badge-secondary">Unpublished</span>
        {% endif %}
        <a href="{% url 'people:artist_update' a.slug %}?next={{ request.path }}">
          <button class="btn-sm btn-warning"><span class="studio-button-text">&#x1F589;</span></button>
        </a>
        {% if not a.is_public %}
          <a href="{% url 'people:artist_delete' a.pk %}">
            <button class="btn-sm btn-danger"><span class="studio-button-text">&#x2715;</span></button>
          </a>
        {% endif %}
        <div class="clear"></div>
    </li>
  {% endfor %}
  <p>
    <a href="{% url 'people:artist_user_list' user %}">more ...</a>
  </p>
{% else %}
  <p>You have not profiled any artist yet</p>
  <a href="{% url 'people:artist_create' %}">
    <button class="btn btn-success">New Artist</button>
  </a>
{% endif %}
<br>
<br>
