{% extends 'base.html' %}
{% block body_block %}
<div class="container links-bg">
  <h3 class="links-title">Links to further information</h3>
  <br>
  <div class="container">
    {% if request.user.is_authenticated %}
      <div class="container">
        <a href="{% url 'links:link_create' %}">
          <button type="button" class="btn btn-primary">Add Link</button>
        </a>
      </div>
    {% endif %}
    {% if page_obj %}
      <ul class="list-group">
        {% for link in object_list %}
          <div class="container links-bg">
            <li class="list-group-item links-bg">
              <!-- ROW 1 -->
              <div class="row">
                <div class="col">
                  <img src="{{ link.image.thumbnail_file.url }}" class="links-thumbnail">
                </div>
                <div class="col-8">
                  <a href="{{ link.url }}" class="links-list-link">
                    <h4 class="links-list-title">{{ link.title }}</h4>
                  </a>
                  <p class="links-list-description">{{ link.description }}</p>
                </div>
              </div>
              <!-- ROW 2 -->
              <div class="row">
              </div>
              <!-- ROW 3 -->
              <div class="row">
                <div class="col-10">
                  <p class="links-list-link">
                    {{ link.url }}
                  </p>
                </div>
                <div class="col">
                  {% ifequal link.user request.user %}
                    <a href="{% url 'links:link_update' link.pk %}">
                      <button type="button" class="btn btn-warning">Edit</button>
                    </a>
                  {% endifequal %}
                </div>
              </div>
            </li>
          </div>
          <br>
        {% endfor %}
      </ul>
      <div class="images-pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1"><<</a>
            <a href="?page={{page_obj.previous_page_number}}"><</a>
          {% endif %}
          <span class="images-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">></a>
            <a href="?page={{page_obj.paginator.num_pages}}">>></a>
          {% endif %}
        </span>
      </div>
      <br>
    {% endif %}
  </div>
</div>
{% endblock %}
